<h1>Select Your Pizza</h1>
<form action="/Order/OrderCheckout" method="post">
    <input type="radio" name="pizzaType" value="Margherita"> Margherita<br>
    <input type="radio" name="pizzaType" value="Pepperoni"> Pepperoni<br>
    <input type="radio" name="pizzaType" value="Vegetarian"> Vegetarian<br>
    <input type="submit" value="Submit">
</form>